@model Kurumsal.Models.Sınıflar.Iletisim

@{ ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<script type="text/javascript">CKEDITOR.replace('editor')</script>

<div class="container">
    @using (Html.BeginForm("Edit", "Iletisim", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
     @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4>İletişimi Güncelle</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IletisimId)
                    <div class="form-group ">
                        <label for="cemail" class="control-label col-lg-2">Adres<span class="required">*</span></label>
                        <div class="col-lg-10">
                            <textarea class="ckeditor" required name="WeChat">@Model.WeChat</textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cemail" class="control-label col-lg-2">Telefon<span class="required">*</span></label>
                        <div class="col-lg-10">
                            <textarea class="ckeditor" required name="Telefon">@Model.Telefon</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Whatsapp, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Whatsapp, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Whatsapp, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.instagram, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.instagram, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.instagram, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary btn-sm" type="submit">Güncelle</button>
                            <a class="text-white btn btn-danger btn-sm" href="/Iletisim/Index">İptal</a>
                        </div>
                    </div>
                </div>
     }
</div>