@model IEnumerable<Kurumsal.Models.Sınıflar.Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center mx-4">
        @{ if (TempData["create"] != null)
            {
    <h5 class="alert alert-success"><i class="far fa-check-circle"></i>&nbsp;&nbsp; @TempData["create"]</h5> }
if (TempData["edit"] != null)
{
    <h5 class="alert alert-primary"><i class="far fa-edit"></i>&nbsp;&nbsp; @TempData["edit"]</h5> }
if (TempData["delete"] != null)
{
    <h5 class="alert alert-danger"><i class="far fa-trash-alt"></i>&nbsp;&nbsp; @TempData["delete"]</h5> }}
    </div>

<div class="m-4">

    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Hakkımızda</h6>
        </div>

        <div class="card-body">

            <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tr>
                        <th>
                            Açıklama
                        </th>
                        <th width="50px"></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.Raw(item.Aciklama)
                    </td>
                    <td>
                        @Html.ActionLink("Güncelle", "Edit", new { id = item.HakkimizdaId }, new { @class = " btn btn-primary btn-sm" })
                    </td>
                </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>