@model Kurumsal.Models.Sınıflar.Slider
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script type="text/javascript">CKEDITOR.replace('editor')</script>
<div class="container">
    @using (Html.BeginForm("Edit", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Slider Güncelle</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
           Slider Resmi
            <div class="col-md-10 mt-3 mr-3">
                <input type="file" name="ResimURL" accept=".png,.jpg,.jpeg" />
                @Html.ValidationMessageFor(model => model.ResimURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-primary btn-sm" />
                @Html.ActionLink("İptal", "Index", null, new { @class = "btn btn-danger btn-sm" })
            </div>
        </div>
    </div>
    }
</div>