@model IEnumerable<Kurumsal.Models.Sınıflar.Mesaj>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/css/Mesaj-Index.css" rel="stylesheet" />

<div class="text-center container">

    @if (TempData["delete"] != null)
    {
        <h5 class="alert alert-danger"><i class="far fa-trash-alt"></i>&nbsp;&nbsp; @TempData["delete"]</h5>
    }
    </div>
    @if (Model.Count() == 0)
    {
        <div class="alert alert-info text-center mt-5" style="margin-left:50%;transform:translate(-50%);">
            @TempData["Mesaj"]
        </div>
    }
    else
    {
        <div class="container">
            <section class="content inbox">
                <div class="container-fluid">
                    <div class="row clearfix">
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <ul class="mail_list list-group list-unstyled">
                                @foreach (var item in Model)
                                {
                                    <li class="list-group-item my-2 shadow-sm" style="border-radius:10px">
                                        <div class="media">
                                            <div class="pull-left">

                                                @*<div class="thumb hidden-sm-down m-r-20">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" style="width:50px;" class="rounded-circle mt-3" />
                                                </div>*@

                                            </div>

                                            <div class="media-body ">
                                                <div class="controls float-right">
                                                    <a href="/Mesaj/Delete/@item.ID" class="mr-3 btn btn-outline-danger" type="button"><i class="far fa-trash-alt"></i></a>
                                                </div>

                                                <div class="media-heading">
                                                    <a href="/Mesaj/Details/@item.ID" class="m-r-10" style="font-size:20px">@item.AdSoyad</a>&nbsp;
                                                    <span class="text-muted"><time class="hidden-sm-down" datetime="2017">@item.saat.ToString()</time><i class="zmdi zmdi-attachment-alt"></i> </span>

                                                    <div class="font-weight-bold my-1">@item.Konu</div>


                                                </div>
                                                <p class="msg">
                                                    @*@{
                if (item.İleti.Length > 400)
                {
                    item.İleti = item.İleti.Substring(0, 400) + "...";
                }
                else
                {
                    item.İleti = @item.İleti;
                }
            }*@

                                                    @item.İleti
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    }