@model IEnumerable<Kurumsal.Models.Sınıflar.Slider>
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable(

            {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            }
        );
    });
</script>

<div class="container-fluid">
    <div class="text-center">
        @{ if (TempData["create"] != null)
            {
                <h5 class="alert alert-success"><i class="far fa-check-circle"></i>&nbsp;&nbsp; @TempData["create"]</h5> }
            if (TempData["edit"] != null)
            {
                <h5 class="alert alert-primary"><i class="far fa-edit"></i>&nbsp;&nbsp; @TempData["edit"]</h5> }
            if (TempData["delete"] != null)
            {
                <h5 class="alert alert-danger"><i class="far fa-trash-alt"></i>&nbsp;&nbsp; @TempData["delete"]</h5> }}
    </div>
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary d-inline">Slider Listesi</h6>&nbsp;&nbsp;
            <h5 class="font-weight-bold text-primary d-inline">
                @Html.ActionLink("Yeni ekle", "Create", null, new { @class = "btn btn-success btn-sm" })
            </h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                    <th>
                        Resim
                    </th>
                    <th width="85">Ayarlar</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@item.ResimURL" width="300" height="150" /></td>

                                <td style="width:500px; height:150px;">
                                    @Html.ActionLink("Güncelle", "Edit", new { id = item.ID }, new { @class = "  btn btn-primary btn-sm" })
                                    @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = " btn btn-danger btn-sm" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>